.container {  display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 110% 20%;
    gap: 0% 0%;
    grid-auto-flow: row dense;
    justify-content: stretch;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "Titolo"
      "Mappa"
      "Final";
    width: 100%;
    height: 100%;
  }
  
  .Titolo {
    grid-area: Titolo;
    text-align: center;
    font-family: fantasy;
    font-size: 24pt;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  
  .Final {
    justify-self: stretch;
    align-self: stretch;
    grid-area: Final;
    width: 100%;
    height: 100%;
  }
  
  .Mappa {
    grid-area: Mappa;
    max-width: 100%;
    height: auto;
  }
  